/* Стилі для заголовка h1 */
header h1 {
  font-size: 24px;
  color: #320795;
  margin-bottom: 20px;
}

header p {
  font-size: 16px;
  color: #320795;
}

/* Стилі для секції послуг */
section {
  width: 100%;
  height: calc(100vh - 250px);

  @media screen and (max-width: 479px) {
    background-image: url('../../images/home-auto.jpg');
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 480px) {
    background-image: url('../../images/home-auto.jpg');
    background-size: cover;
    background-position: center;
  }
}

/* Стилі для заголовка h2 в секції */
section h2 {
  font-size: 20px;
  color: #320795;
  margin-bottom: 10px;
}

/* Стилі для абзацу p в секції */
section p {
  font-size: 16px;
  color: #320795;
}

/* Стилі для підпіски у футері */
footer p {
  font-size: 12px;
  color: #2208a4; /* Колір тексту */
}

.container {
  width: 100%;
  padding: 20px;
}
