/* Стилі для заголовка h1 */
h1 {
  font-size: 24px;
  color: #320795;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #320795;
}

/* Стилі для секції послуг */
section {
  width: 100%;
  height: calc(100vh - 250px);
  background-image: url('../../images/home-auto-mobile.jpg');
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 480px) {
    background-image: url('../../images/home-auto.jpg');
    background-size: cover;
    background-position: center;
  }
}

.container {
  width: 100%;
  padding: 20px;
  
}
